/* CSS for mobile devices */
@media (max-width: 1000px) {
    .home-img {
        text-align: center;
        margin-top: 10px; /* add margin to push the image down */
    }

    .home-img img {
        max-width: 144px; /* set the maximum width of the image to 144px */
        height: auto;
    }

    .home-text {
        text-align: center;
        margin-top: 10px; /* add margin to push the text down */
    }

    .btn {
        display: block;
        margin: 1em auto;
    }
}
